@viewport {
	zoom: 1.0;

	width: extend-to-zoom 100vw;
}

@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: normal;

	src: url('/fonts/Roboto/100.woff2') format('woff2'), url('/fonts/Roboto/100.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: italic;

	src: url('/fonts/Roboto/100i.woff2') format('woff2'), url('/fonts/Roboto/100i.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;

	src: url('/fonts/Roboto/300.woff2') format('woff2'), url('/fonts/Roboto/300.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: italic;

	src: url('/fonts/Roboto/300i.woff2') format('woff2'), url('/fonts/Roboto/300i.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;

	src: url('/fonts/Roboto/400.woff2') format('woff2'), url('/fonts/Roboto/400.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: italic;

	src: url('/fonts/Roboto/400i.woff2') format('woff2'), url('/fonts/Roboto/400i.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;

	src: url('/fonts/Roboto/500.woff2') format('woff2'), url('/fonts/Roboto/500.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;

	src: url('/fonts/Roboto/500i.woff2') format('woff2'), url('/fonts/Roboto/500i.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;

	src: url('/fonts/Roboto/700.woff2') format('woff2'), url('/fonts/Roboto/700.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: italic;

	src: url('/fonts/Roboto/700i.woff2') format('woff2'), url('/fonts/Roboto/700i.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: normal;

	src: url('/fonts/Roboto/900.woff2') format('woff2'), url('/fonts/Roboto/900.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: italic;

	src: url('/fonts/Roboto/900i.woff2') format('woff2'), url('/fonts/Roboto/900i.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: 100;
	font-style: normal;

	src: url('/fonts/Roboto_Mono/100.woff2') format('woff2'), url('/fonts/Roboto_Mono/100.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: 100;
	font-style: italic;

	src: url('/fonts/Roboto_Mono/100i.woff2') format('woff2'), url('/fonts/Roboto_Mono/100i.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: 300;
	font-style: normal;

	src: url('/fonts/Roboto_Mono/300.woff2') format('woff2'), url('/fonts/Roboto_Mono/300.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: 300;
	font-style: italic;

	src: url('/fonts/Roboto_Mono/300i.woff2') format('woff2'), url('/fonts/Roboto_Mono/300i.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: 400;
	font-style: normal;

	src: url('/fonts/Roboto_Mono/400.woff2') format('woff2'), url('/fonts/Roboto_Mono/400.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: 400;
	font-style: italic;

	src: url('/fonts/Roboto_Mono/400i.woff2') format('woff2'), url('/fonts/Roboto_Mono/400i.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: 500;
	font-style: normal;

	src: url('/fonts/Roboto_Mono/500.woff2') format('woff2'), url('/fonts/Roboto_Mono/500.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: 500;
	font-style: italic;

	src: url('/fonts/Roboto_Mono/500i.woff2') format('woff2'), url('/fonts/Roboto_Mono/500i.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: 700;
	font-style: normal;

	src: url('/fonts/Roboto_Mono/700.woff2') format('woff2'), url('/fonts/Roboto_Mono/700.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: 700;
	font-style: italic;

	src: url('/fonts/Roboto_Mono/700i.woff2') format('woff2'), url('/fonts/Roboto_Mono/700i.woff') format('woff');
}

:lang(en) {
	font-family: 'Roboto', sans-serif;
}

body {
	font-size: 1rem;
	line-height: 1;

	box-sizing: border-box;
	min-height: 100vh;
	margin: 0;
	padding: 80px 16px 16px;

	background: #EEE;
}

header {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;

	display: flex;

	height: 64px;

	color: #FFF;
	background: #098;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

	align-items: center;
}

header h1 {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1;

	margin: 0 0 0 72px;
}

label[for='nav-toggle'] {
	position: fixed;
	z-index: 1;
	top: 8px;
	left: 12px;

	display: block;

	width: 48px;
	height: 48px;

	cursor: pointer;

	background: url('/images/icons/menu.svg') center/24px no-repeat;
}

input {
	display: none;
}

nav {
	position: fixed;
	z-index: 1;
	top: 64px;
	left: 0;

	display: flex;
	overflow: hidden;

	width: calc(100vw - 64px);
	max-width: 0;
	height: calc(100vh - 64px);

	transition: all 400ms ease;
	white-space: nowrap;

	background: #FFF;
}

nav ul {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;

	flex: auto;
	flex-flow: column;
}

nav a {
	font-size: 0.875rem;
	font-weight: 500;

	display: flex;

	height: 48px;
	padding: 0 0 0 16px;

	color: inherit;

	align-items: center;
}

nav a:hover {
	background: rgba(0, 0, 0, 0.2);
}

#nav-toggle:checked + nav {
	max-width: 320px;
}

#nav-toggle:checked ~ main::before {
	visibility: visible;

	background: rgba(0, 0, 0, 0.8);
}

main {
	font-size: 0.875rem;
	line-height: 1.43;
}

main::before {
	position: fixed;
	top: 64px;
	right: 0;
	bottom: 0;
	left: 0;

	visibility: hidden;

	content: '';
	transition: all 400ms ease;
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.33;

	margin: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}
